.App {
    background-color: #282c34;
    color: white;
    display: flex;
    font-size: calc(10px + 2vmin);
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    text-align: center;
    align-items: center;
}

.App a {
    color: #61dafb;
}

.App > * {
    display: flex;
    align-items: center;
}

.App > nav {
    background-color: #ffffff30;

    width: calc(100% - 2rem);
    height: 3em;

    padding: 0 1rem;
}


h1 {
    width: 153px;
    color: #000000;
    background: #3cff3c;
    border: 2px solid #000000;
}

h2 {
    font-size: 30px;
}

p {
    text-align: center;
    padding-bottom: 10px;
    padding-left: 140px;
    padding-right: 140px;
}

.App > footer {
    background-color: #ffffff30;

    width: calc(100% - 2rem);
    height: 3em;

    padding: 0 1rem;

    font-size: 0.8em;
}

.App > nav > span {
    text-align: left;
    flex-grow: 1;
}

.App > nav > button {
    margin-left: 6px;
}

.App > main {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.App > footer {
    justify-content: center;
}
