.App {
    background-color: #282c34;
    color: white;
    display: flex;
    font-size: calc(10px + 2vmin);
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    text-align: center;
    align-items: center;
}

.App a {
    color: #61dafb;
}

.App > * {
    display: flex;
    align-items: center;
}

.App > nav,
.App > footer {
    background-color: #ffffff30;

    width: calc(100% - 2rem);
    height: 3em;

    padding: 0 1rem;

    font-size: 0.8em;
}

.App > main {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.App > footer {
    justify-content: center;
}
