.App {
    background-color: #282c34;
    color: white;
    display: flex;
    font-size: calc(10px + 2vmin);
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    text-align: center;
    align-items: center;
}

.App a {
    color: #61dafb;
}
