.DocumentItem > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DocumentItem > span {
    position: absolute;
    top: 16px;

    display: block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    box-shadow: 2px 2px 4px -1px #0008;
}
.DocumentItem > span.edit {
    background-color: #4b4;
    right: 48px;
}
.DocumentItem > span.del {
    background-color: #f00;
    right: 16px;
}
.DocumentItem > span > img {
    display: block;
    margin: auto;
    margin-top: 5px;
}

.DocumentsForm.filled > .DocumentItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}