.DocumentItem {
    animation-name: pop-in;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes pop-in {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

@keyframes pop-out {
    0% { transform: scale(1); }
    100% { transform: scale(0); }
}

.DocumentItem > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DocumentItem > button {
    position: absolute;
    top: 16px;
    box-shadow: 2px 2px 4px -1px #0008;
}
.DocumentItem > button.edit {
    right: 48px;
}
.DocumentItem > button.delete {
    right: 16px;
}

.DocumentsForm.filled > .DocumentItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}