.DocumentItem > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DocumentItem > button {
    position: absolute;
    top: 16px;
    box-shadow: 2px 2px 4px -1px #0008;
}
.DocumentItem > button.edit {
    right: 48px;
}
.DocumentItem > button.delete {
    right: 16px;
}

.DocumentsForm.filled > .DocumentItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}