.DocumentPreview,
.react-pdf__Document {
    flex-grow: 1;
    margin-top: 8px;
}

.DocumentPreview {
    overflow: hidden;
    margin: 16px 8px;

    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 10px;

    white-space: pre-wrap !important;
    text-align: left;

    width: 208px;
    max-height: 268px;
    padding: 8px;
}
.DocumentPreview.center {
    text-align: center;
    align-items: center;
}

.react-pdf__Document {
    display: flex;
    justify-content: center;

    margin-top: 8px;
}
.react-pdf__Document .react-pdf__Page {
    align-self: center;
}
