.EditModal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: #0005;
}

.EditModal > button {
    all: unset;
    
    position: absolute;
    top: 16px;

    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.EditModal > button.exit {
    background-color: #f00;
    right: 16px;
}
.EditModal > button.save {
    background-color: #44f;
    right: 64px;
}

.EditModal > div {
    width: 90vw;

    text-align: left;
    
    padding: 0.85em 5vw;
    background-color: #141414;
}
.EditModal > div > span {
    white-space: pre;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.EditModal > div > input[type="text"] {
    all: unset;

    background-color: #fff3;
    border-radius: 8px;
    padding: 0 8px;
    max-width: 50vw;
}

.EditModal > textarea {
    border: unset;
    background-color: transparent;
    color: white;
    caret-color: #fff8;
    font-size: 0.75em;
    resize: none;

    white-space: pre;
    width: 90vw;
    flex-grow: 1;

    margin: 24px 0;
    padding: 16px;
    padding-bottom: 0;
    background-color: #111c;

    border-radius: 32px;
}
.EditModal > textarea.word-wrap {
    white-space: pre-wrap;
}
