.IconButton {
    border: none;

    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color);

    display: flex;
    justify-content: center;
    align-items: center;
}
.IconButton:not(:disabled):hover {
    background: var(--hover-color);
}
